@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root{
  --color-blue: #287bff;
  --color-white: #fff;
  --color-grey: #f5f5f5;
  --color-black1: #222;
  --color-black2: #999;
  --color-body: #eff3ff;
}


body {
  min-height: 100vh;
  background: var(--color-body);
  overflow-x: hidden;
}


.container {
  position: relative;
  width: 100%;
}


.navigation {
  position: fixed;
  width: 280px;
  height: 100%;
  background: var(--color-blue);
  border-left: 10px solid var(--color-blue);
  transition: 0.3s ease;
  overflow: hidden;
  list-style: none;
}


.navigation .logo-details {
  margin-top: 10px;
  background: #1854b4;
  border-radius: 10px;
  width: 96%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navigation .logo-details a {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}


.navigation .logo-details img {
  height: 38px;
  width: 38px;
}


.navigation .logo-details .title {
  color: white;
  font-size: 26px;
  font-weight: 700;
}


.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  cursor: pointer;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}


.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--color-body);
}


.navigation ul {
  margin-top: 120px;
}


.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--color-white);
}


.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--color-blue);
}


.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}


.navigation ul li a .icon i {
  font-size: 20px;
}


.navigation ul li a .title {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
} 



/* curved offside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--color-body);
}


.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--color-body);
}









/* profile-development */
.navigation li .profile-development{
  position: fixed;
  bottom: 0;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #0b69ff;
  height: 80px;
  transition: all 0.3s ease;
  left: 0px;
  text-decoration: none;
  list-style: none;
}


.navigation li .profile-development i {
  font-size: 22px;
  color: white;
  cursor: pointer;
}


.navigation .profile-development .profile-content{
  display: flex;
  align-items: center;
}


.navigation .profile-development img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  transition: all 0.3s ease;
}


.navigation .profile-development .profile_name,
.navigation .profile-development .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}


.navigation.close .profile-development i,
.navigation.close .profile-development .profile_name,
.navigation.close .profile-development .job{
  display: none;
}


.navigation .profile-development .job{
  font-size: 12px;
}






















/* HOME- section CSS */

.nav-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  left: 260px;
  width: calc(100% - 270px);
  transition: all 0.5s ease;
}


.sidebar.close ~ .nav-section{
  left: 98px;
  width: calc(100% - 98px);
}


.nav-section nav{
  height: 80px;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--tran-05);
}


.nav-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}


.nav-section nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}


.nav-section nav .search-box{
  height: 50px;
  width: 550px;
  margin: 0 20px;
  position: relative;
}


nav .search-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 17px;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  outline: none;
}


nav .search-box .bx-search{
  position: absolute;
  right: 5px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  background: #2697ff;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}


.nav-section nav .profile-details{
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 190px;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 5px;
  padding: 0 15px 0 2px;
}


nav .profile-details img{
  height: 40px;
  width: 40px;
  object-fit: cover;
}


nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}


nav .profile-details i{
  color: #333;
  font-size: 25px;
}